body {
    background: url(../images/q2.jpg);
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
    
}


.prof-box {
    width:1095px;
    height:504px;
    background-color: rgb(255, 255, 255,0.3); 
    padding: 20px;
    color:white;
    margin:0 auto;
    margin-top: 61px;
    margin-bottom: 47px;
    text-align: center;
    
}

h1 {
    font-weight: 100;
    letter-spacing: 9;
    font-size: 35px;
}

p {
    font-weight: 150;
    letter-spacing: 7;
    font-size: 20px;
}

.line-break {
    width: 940px;
    margin:0 auto;
    border-top: 0.5px solid white;
}

