body {
    background: url(../images/q2.jpg);
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
    
}

.registerbtn {
    background-color: black;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
    opacity: 0.9;
    border-radius: 8px;
    
  }


.prof-box {
    overflow: hidden;
    
    width:1095px;
    height:574px;
    background-color: rgba(92, 89, 89, 0.4); 
    padding: 20px;
    color:white;
    margin:auto auto;
    margin-top: 21px;
    margin-bottom: 10px;
    text-align: center;
    
}

h1 {
    font-weight: 100;
    letter-spacing: 15;
    font-size: 35px;
}

p {
    font-weight: 150;
    letter-spacing: 7;
    font-size: 20px;
}

.line-break {
    width: 940px;
    margin:0 auto;
    border-top: 0.5px solid white;
}

