{% extends 'home-le.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="card card-design mx-auto shadow">
        <div class="card-body text-center">
            <img src="{% static 'images/thinking.png' %}" width="250" height="250" class="img-fluid mx-auto d-block">
            <h5 class="card-title ">
                <b>Welcome to Quizzit! &#128221;</b><br>
                Quizzit is an online quiz application with easy questions pertaining to several topics.<br>
                To participate, create an account for yourself and answer the questions correctly to gain points and
                find yourself on our leaderboard. &#128516;</h5>

            <a href="{% url 'loginpage' %}">
                <button class="btn btn-design2 mx-1">
                    <strong>Login</strong>
                </button>
            </a>
            <a href="{% url 'register' %}">
                <button class="btn btn-design1 mx-1">
                    <strong>Signup</strong>
                </button>
            </a>
        </div>
    </div>

</div>
{% endblock %}