{% extends 'home.html' %} 
{% block content %}

<br>

<p style="margin:auto auto;width: 940px;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:left;margin-left:200px;">
    1. Each Question carries 10 Points. <br>
    2. You'll be directed to the next Question once you answer the Current Question correctly.<br>
    3. Admin holds the right to disqualify any individual in case of any unethical means.<br>
    
</p>

<br>
<button type="button" onclick="location.href='{% url 'question' levelscore.level %}'" class="registerbtn">
    Start Quiz
</button>
<button type="button" onclick="location.href='{% url 'leaderboard' %}'" class="registerbtn" style="width: 130px;">
    Leaderboard
</button>
<button type="button" onclick="location.href='{% url 'logoutpage' %}'" class="registerbtn">
    Logout
</button>





{% endblock %}