{% extends 'home.html' %} 
{% block content %}

<p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:x-large">LOGIN</p>
        <form method="POST" action="">
            {% csrf_token %}
            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
                   <div class="alert alert-danger">
                       <strong>{{ error|escape }}</strong>
                   </div>
            {% endfor %}
               {% endfor %}
            {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                       <strong>{{ error|escape }}</strong>
                   </div>
               {% endfor %}
               {% endif %}
        <div>
            {{ form.username }}
        </div>
        
        <div>
            {{ form.password }}
        </div>
        
        
        <button type="submit" class="registerbtn">
            Login
        </button>
        
        
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        
        </form>
        <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:large;display:inline-block">
            Dont't have an account?
        </p>
        
            <button type="button" onclick="location.href='{% url 'register' %}'" class="registerbtn">
                Register
            </button>
        
        </button>
        </div>
        </div>
    </div>

{% endblock %}