{% extends 'home.html' %} 
{% block content %}


<p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:x-large">REGISTER</p>
        
        <form method='POST' action="">
            {% csrf_token %}  
           
            <div>
                {{form.username}}
            </div>
            
            <div>
                {{form.email}}
            </div>
            
            <div>
                {{form.password1}}
            </div>
            
            <div>
                {{form.password2}}
            </div>
            
        <button type="submit" class="registerbtn">
            Register
        </button>
        {{form.errors}}
        
        <div class="messages">
        {% for message in messages %}
            <p id="messages">{{message}}</p>
        {% endfor %}
        </div>
            <div>
                <p style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:large;display:inline-block">
                    Already have an account?
                </p>
                
                    <button type="button" onclick="location.href='{% url 'loginpage' %}'" class="registerbtn">
                        Login
                    </button>
                
            </div>
        </form>
        <br>
    <br>
    
    </div>

{% endblock %}